<div class="col-10 offset-1">
  <h1>About Splurty</h1>
</div>

<p>
    Splurty was built by <a target="_blank" href="http://github.com/MarcoMorawec">Marco Morawec</a> & <a target="_blank" href="http://github.com/KenMazaika">Ken Mazaika</a>. Two web developers who are on a mission to give people the technical skills needed to launch their own MVPs and turn ideas into reality.
  </p>
  <br />

    <font color="red">If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>



  <br class="clear" />

  <br />
  <div class="row">
    <div class="col-12 col-sm-4" style="padding-top:30px;">
      <%= image_tag 'IMG_6409.jpg', class: 'img-fluid' %>
    </div>
    <div class="col-12 col-sm-7 offset-sm-1">

      <br />
      <br />
      <br />
      <br />
      <p class="my-blurb">
        <font color="red">Artemio Lobrin is a web developer, artist, and photographer. Previously trained as a Computer Support Specialist and Peer Support Worker. He has placed artwork in collections as far away as the Philippines and India.
      </p>
    </div>
  </div>

  </div>
